<footer id="mainFooter" class="page-footer font-small pt-4 mt-md-6">

    <!-- Footer Links -->
    <div class="container-fluid text-center">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
  
          <!-- Content -->
          <h5>Mas información</h5>
          <div class="row align-items-center">
          <p>Correo de soporte a la pagina: ea.garciaea@uanl.edu.mx</p>
          </div>
          <div class="row align-items-center">
          <p>Versión 1.0 del proyecto: 22/Nov/2022</p>
          </div>
  
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
          <!-- Links -->
          <h6>Encuentranos en . . . </h6>
  
              <div class="row align-items-center">
                <div class="col-sm-3 row justify-content-center">
              <a href="#!">Instagram</a>
              </div>
              <div class="col-sm-3  order-2 order-md-1 row justify-content-center">
                <img class="icon" src="images/resources/instagram.png" alt="">
              </div>
              </div>
  
              <div class="container">
              <div class="row align-items-center">
                <div class="col-sm-3 row justify-content-center">
              <a href="#!">Facebook</a>
              </div>
              <div class="col-sm-3   row justify-content-center">
                <img class="icon" src="images/resources/facebook.png" alt="">
              </div>
              </div>
              <div class="row align-items-center">
                <div class="col-md-3 row justify-content-center">
                  <a href="#!">Whatsapp</a>
                </div>
                <div class="col-md-3 row justify-content-center">
                  <img class="icon" src="images/resources/whatsapp.png" alt="">
                </div>
              </div>
          </div>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
  
  
  </footer>